@using RunGroupWebApp.Data.Enum;
@using RunGroupWebApp.ViewModels;
@model EditClubViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" value="AddressId" id="AddressId" />
    <div class="form-row form-group">
        <div class="row">
            <div class="col">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control form-control-lg" placeholder="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="ClubCategory">Club Category</label>
                <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control form-control-lg">
                    <option>--Select--</option>
                </select>
                <span asp-validation-for="ClubCategory" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-row form-group">
        <div class="col">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control form-control-lg" placeholder="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row form-group">
        <div class="row">
            <div class="col">
                <label asp-for="Address.Street">Street</label>
                <input asp-for="Address.Street" class="form-control" placeholder="Street">
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Address.City">City</label>
                <input asp-for="Address.City" class="form-control" placeholder="City">
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Address.State">State</label>
                <input asp-for="Address.State" class="form-control" placeholder="Street">
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
        </div>

    </div>

    <br />
    <div class="form-row form-group ">
        <div class="col">
            <label asp-for="Image">Image</label>
            <input asp-for="Image" type="file" class="form-control" placeholder="Image">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row form-group">
        <div class="col">
            <button class="btn btn-block btn-success btn-lg" type="submit">Save Change</button>
        </div>
    </div>
</form>